h1 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    height: 90vh;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.grid-item {
    margin: 20px;
    text-align: center;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

#corner-button {
    text-align: end;
}

#small-img {
    height: 10vh;
}

#tall-img {
    height: 40vh;
}

#intro {
    background-image: url("../img/0-bg.png");
    background-size: cover;
}

#pg1 {
    background-image: url("../img/1-bg.png");
    background-size: cover;
}

/* may use two different backgrounds */
#pg2 {
    background-image: url("../img/2-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,194,203,255);
}

#pg3 {
    background-image: url("../img/3-bg.png");
    background-size: cover;
}

#pg4 {
    background-image: url("../img/4-bg.png");
    background-size: cover;
}

#pg5 {
    background-image: url("../img/5-bg.JPG");
    background-size: cover;
}

#pg6 {
    background-image: url("../img/6-bg.png");
    background-size: cover;
}

#numbox {
    width: 2em;
}

/* may use two different backgrounds */
#map-1 {
    background-image: url("../img/1-map.png");
    background-size: 71vh 40vh;
    height: 40vh;
    width: 71vh;
}

#white-bg {
    background-color: rgba(255, 255, 255, 0.75);
}

/* may use two different sets of pictures */

#cw-4 {
    background-image: url("../img/4-cw.png");
    background-size: 40vh 40vh;
    height: 40vh;
    width: 40vh;
}

#clues-4 {
    background-image: url("../img/4-clues.png");
    background-size: 40vh 40vh;
    height: 40vh;
    width: 40vh;
}