h1 {
    text-align: center;
}

p {
    text-align: center;
    line-height: 0.75em;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    height: 95vh;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.grid-item {
    margin: 10px;
    text-align: center;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.numbox {
    width: 2em;
}

.send-button {
    background-image: url("../img/enviar.png");
    background-size: 16vh 8vh;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    height: 8vh;
    width: 16vh;
}

.continue-button {
    background-image: url("../img/continuar.png");
    background-size: 16vh 8vh;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    height: 8vh;
    width: 16vh;
}

#small-img {
    height: 15vh;
}

#tall-img {
    height: 40vh;
}

#intro {
    background-image: url("../img/0-bg.png");
    background-size: cover;
}

#pg1 {
    background-image: url("../img/1-bg.png");
    background-size: cover;
}

#pg2 {
    background-image: url("../img/2-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,194,203,255);
}

#pg3 {
    background-image: url("../img/3-bg.png");
    background-size: cover;
}

#pg4 {
    background-image: url("../img/4-bg.png");
    background-size: cover;
}

#pg5 {
    background-image: url("../img/5-bg.JPG");
    background-size: cover;
}

#pg6 {
    background-image: url("../img/6-bg.png");
    background-size: cover;
}

#white-bg {
    background-color: rgba(255, 255, 255, 0.75);
}

/* IMAGE SET WILL BE DIFFERENT FOR EACH ROUND */

#map-1 {
    background-image: url("../img/round-1/1-map.png");
    background-size: 107vh 60vh;
    height: 60vh;
    width: 107vh;
    /* background-size: 71vh 40vh;
    height: 40vh;
    width: 71vh; */
}

#cw-4 {
    background-image: url("../img/round-1/4-cw.png");
    background-size: 55vh 55vh;
    height: 55vh;
    width: 55vh;
}

#clues-4 {
    background-image: url("../img/round-1/4-clues.png");
    background-size: 55vh 55vh;
    height: 55vh;
    width: 55vh;
}